 .lay{
    max-width: 550px;
    height: 600px;;
    float: right;
    border: 3px solid #fff;
    border-radius: 10px;
   margin-left: 40px;
   
    
}

.body{
    display: flex;
 
     align-items: center;
     min-height: 100vh;
     background: #fff;
}
.wrapper{
    margin: 150px 100px;
    width: 100%;
    justify-content: space-between;
     
}
.text-box{
    margin-top:200px ;
    color: black;

}
.text-box h2{
    font-size: 42px;
}
.text-box p{
    font-size:  25px;
}
@media screen and (max-width: 998px){
    .lay{
        width: 350px;
        height: 300px;
align-items: center;
margin-left: 0px;
margin-bottom: 60px;
    }
    .wrapper{
        margin-left: 70px;
    }
}